<% if @product.errors.any? %>
  <h2>The following arrors prevented the product from being created</h2>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @product do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :size %><br/>
    <%= f.text_field :size %>
  </p>

  <p>
    <%= f.label :processor %><br/>
    <%= f.text_field :processor %>
  </p>

  <p>
    <%= f.label :ram %><br/>
    <%= f.text_field :ram %>
  </p>

  <p>
    <%= f.label :storage %><br/>
    <%= f.text_field :storage %>
  </p>

  <p>
    <%= f.label :battery %><br/>
    <%= f.text_field :battery %>
  </p>

  <p>
    <%= f.label :unit_price %><br/>
    <%= f.text_field :unit_price %>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.file_field :image %>
    <%= f.label :image, "Upload Image" %></p>
  </p>

  <p>
    <%= f.submit :class => "btn btn--orange btn--create btn--large" %>
    
  </p>
<% end %>

<%= link_to "Back to all products", products_path, :class => "btn btn--black btn--large btn--form" %>