<h1>Showing the selected product</h1>

<p>Title: <%= @product.title %></p>
<p>Size: <%= @product.size %></p>
<p>Processor: <%= @product.processor %></p>
<p>RAM: <%= @product.ram %></p>
<p>Storage: <%= @product.storage %></p>
<p>Battery: <%= @product.battery %></p>
<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
