<section class="product__info">
  <h1 class="product__info__heading heading-primary"><%= @product.title %></h1>

  <% if @product.image.attached? %>
    <div class="product__info__img"><%= image_tag(@product.image) %></div>
  <% else %>
    <div class="product__info__img"><%= image_tag("generic-product-placeholder.jpg", :alt => @product.title) %></div>
  <% end %>

  <div class="product__info__price">£<%= @product.unit_price %></div>

  <div class="specs-box">
    <h3 class="product__info__title">Specs</h3>
    <div>Size: <%= @product.size %></div>
    <div>Processor: <%= @product.processor %></div>
    <div>RAM: <%= @product.ram %></div>
    <div>Storage: <%= @product.storage %></div>
    <div>Battery: <%= @product.battery %></div>
  </div>

  <div class="description-box">
    <h3 class="product__info__title">Description</h3>
    <div><%= @product.description %></div>
  </div>


  <%= link_to "Edit this product", edit_product_path(@product), :class => "btn btn--orange btn--large" %>

  <%= link_to "Back to all products", products_path, :class => "btn btn--black btn--large btn--form" %>

</section>