<h1>Showing the selected product</h1>

<p>Title: <%= @product.title %></p>
<p>Size: <%= @product.size %></p>
<p>Processor: <%= @product.processor %></p>
<p>RAM: <%= @product.ram %></p>
<p>Storage: <%= @product.storage %></p>
<p>Battery: <%= @product.battery %></p>
<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<% if @product.image.attached? %>
  <p>Image: <%=  image_tag(@product.image) %></p>
<% end %>

<%= link_to "Edit this product", edit_product_path(@product) %>

<%= link_to "Back to all products", products_path %>